body{
    background-color: white;
    color: white;
    overflow-x: hidden;
}

.header{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    gap: 50px;
    padding: 20px 60px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    color: red;
}

.div1,.div2,.div3{
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 100px;
    color: white;
    background-color: black;
    height: 100vh;
}

.div3{
    font-size: 20px;
    font-weight: 400;
    padding: 0 200px;
}

.projmain{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,100%);
}


.projmain>div:nth-child(even){
    background-color: black;
    border-radius: 80px;
}
.projmain>div:nth-child(odd){
    background-color: black;
    border-radius: 80px;
}

.connect{
    background-color: black;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .connect form {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 40vw;
    justify-content: space-between;
}

.connect input{
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 20px;
    color: red;
    border-radius: 0;
}

.connect input[type="submit"]{
    cursor: pointer;
}

.connect-mail{
    display: flex;
    gap:10px;
    justify-content: center;
}

.connect-mail>div:nth-child(1){
    display: grid;
    align-items: center;
    /* border: 1px solid white; */
}

.connect-mail>div:nth-child(1)>span{
    transform: rotate(-90deg);
}