body{
    background-color: white;
    color: white;
    overflow-x: hidden;
}

.header{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 20px;
    gap: 50px;
    padding: 20px 60px;
    position: sticky;
    top:0;
    left: 0;
    right: 0;
    z-index: 100;
    color: red;
}

.div1,.div2,.div3{
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 100px;
    color: white;
    background-color: black;
    height: 100vh;
}

.div3{
    font-size: 20px;
    font-weight: 400;
    padding: 0 200px;
}

.projmain{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,100%);
}


.projmain>div:nth-child(even){
    background-color: black;
    border-radius: 80px;
}
.projmain>div:nth-child(odd){
    background-color: black;
    border-radius: 80px;
}

.connect{
    background-color: black;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 .connect form {
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 40vw;
    justify-content: space-between;
}

.connect input{
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 20px;
    color: red;
    border-radius: 0;
}

.connect input[type="submit"]{
    cursor: pointer;
}

.connect-mail{
    display: flex;
    gap:10px;
    justify-content: center;
}

.connect-mail>div:nth-child(1){
    display: grid;
    align-items: center;
    /* border: 1px solid white; */
}

.connect-mail>div:nth-child(1)>span{
    transform: rotate(-90deg);
}

.panel>div{
    width: 50%;
    height: 90%;
    border: 1px solid white;
    border-radius: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.panel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.panel img{
    width: 90%;
    aspect-ratio: 1920/902;
    object-fit: cover;
    border-radius: 20px;
}

.panel-hover{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(200px);
    transition: all 0.5s ease-in-out;
}
.panel-hover-open{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

.panel-head{
    font-size: 25px;
}
.panel-hover>div:nth-child(2){
    padding: 0 90px;
    text-align: justify;
}
.panel-hover-open>div:nth-child(2){
    padding: 0 90px;
    text-align: justify;
}

.panel-link{
    color: red;
    text-decoration: none;
}
.panel-link:hover{
    text-decoration: underline;
}